[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Photivo
GenericName=Photivo - photo processor
Comment=Edit RAWs and bitmaps

Type=Application
Categories=Graphics;Photography;

Exec=photivo -i %F
TryExec=photivo
Icon=photivo

Terminal=false
StartupNotify=true

MimeType=application/x-photivo;image/x-dcraw;image/bmp;image/jpeg;image/png;image/tiff;
